body {
  margin: 0;
  padding: 0;
  background-color: #0a2540;
}

body header {
  height: 10%;
  position: fixed;
  top: 0;
  background-color: #0a2540;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .header-logo .logo {
  display: none;
}

body header .header-logo .marca {
  width: 3em;
}

body header nav {
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

body header nav #ckeck {
  display: none;
}

body header nav #ckeck:checked ~ .ul-menu {
  height: 100vh;
  width: 100vw;
}

body header nav #ckeck:checked ~ .ul-menu li {
  display: block;
}

body header nav .bar-btn {
  font-size: 25px;
  color: white;
  cursor: pointer;
}

body header nav ul.ul-menu {
  position: fixed;
  top: 100px;
  background-color: #776ba5ee;
  text-align: center;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

body header nav ul.ul-menu li {
  display: none;
  line-height: 30px;
  margin: 50px 0;
}

body header nav ul.ul-menu li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}

body header nav ul.ul-menu li a:hover {
  color: black;
}

body button {
  display: none;
}

main {
  padding: 0px 20px;
  margin-top: 100px;
}

main .titulo {
  color: white;
  font-family: "Manrope";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .titulo h3 {
  margin-left: 20px;
}

main .grid-container {
  margin-bottom: 5vh;
}

main .grid-container .item {
  background-color: white;
  margin: 0.5rem;
  padding: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 0.5fr 1fr;
      grid-template-rows: 1fr 0.5fr 1fr;
  justify-items: center;
  gap: 25px;
}

main .grid-container .item .orange {
  color: orange;
}

main .grid-container .item .pink {
  color: palevioletred;
}

main .grid-container .item .blue {
  color: blue;
}

footer {
  background-color: white;
  display: -ms-grid;
  display: grid;
  padding: 20px;
}

footer .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer ul.menu-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  list-style: none;
}

footer ul.menu-footer a {
  text-decoration: none;
  color: black;
  font-size: small;
  font-family: "Manrope";
}

footer button.contact {
  background-color: #776ba5ee;
  color: white;
  border-radius: 5px;
  border: none;
  height: 5vh;
  font-family: "Manrope";
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer button.contact:hover {
  color: #1883ba;
  background: #0a2540;
}

@media screen and (min-width: 600px) {
  body header .header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body header .header-logo .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  body header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header .header-logo {
    margin-left: 2em;
  }
  body header .header-logo:hover {
    -webkit-filter: saturate(200%);
            filter: saturate(200%);
  }
  body header .header-logo .logo {
    display: block;
  }
  body header nav {
    height: 10%;
  }
  body header nav i.fas.fa-bars {
    display: none;
  }
  body header nav ul.ul-menu {
    background-color: transparent;
    list-style: none;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: auto;
    padding: 0;
  }
  body header nav ul.ul-menu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 0px;
  }
  body header nav ul.ul-menu li a {
    color: white;
    text-decoration: none;
  }
  body header nav ul.ul-menu li a:hover {
    padding: 5px;
    color: white;
    background: #1d4b79;
    border-radius: 50%;
    -webkit-box-shadow: 0 4px 16px #1a7396;
            box-shadow: 0 4px 16px #1a7396;
  }
  body button {
    margin-right: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 5px;
    background-color: #776ba5ee;
    border: none;
    color: white;
    height: 5vh;
    font-family: "Manrope";
    cursor: pointer;
  }
  body button:hover {
    color: #1883ba;
    background: #0a2540;
  }
  body main {
    margin-left: 7em;
    margin-right: 7em;
  }
  body main .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  body footer {
    -ms-grid-columns: 0.75fr 2fr 0.75fr;
        grid-template-columns: 0.75fr 2fr 0.75fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body footer .footer-logo {
    display: inline-block;
    width: 15vw;
  }
  body footer ul.menu-footer {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    line-height: 25px;
  }
  body footer ul.menu-footer a:hover {
    color: #776ba5ee;
  }
}
/*# sourceMappingURL=styles.css.map */