@import "_variables.scss";

body {
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  header {
    height: 10%;
    position: fixed;
    top: 0;
    background-color: $primary-color;
    width: 100vw;

    display: flex;
    justify-content: space-around;
    align-items: center;
    .header-logo {
      .logo {
        display: none;
      }
      .marca {
        width: 3em
      }
    }
    nav {
      height: 100px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      #ckeck {
        display: none;
        &:checked ~ .ul-menu {
          height: 100vh;
          width: 100vw;
        }
        &:checked ~ .ul-menu li {
          display: block;
        }
      }
      .bar-btn {
        font-size: 25px;
        color: white;
        cursor: pointer;
      }
      ul.ul-menu {
        position: fixed;
        top: 100px;
        background-color: $secondary-color;
        text-align: center;
        right:0px;
        width:0%;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;

        li {
          display: none;
          line-height: 30px;
          margin: 50px 0;
          a {
            color: white;
            text-decoration: none;
            font-size: 16px;
            text-transform: uppercase;
            &:hover {
              color: black;
            }
          }
        }
      }
    }
  }
  button {
    display: none;
  }
}
main {
  padding: 0px 20px;
  margin-top: 100px;
  .titulo {
    color: white;
    font-family: $primary-font;

    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
      margin-left: 20px;
    }
  }
  .grid-container {
    margin-bottom: 5vh;
    .item {
      background-color: white;
      margin: 0.7rem;
      padding: 15px;
      display: grid;
      grid-template-rows: 1fr 0.5fr 1fr;
      justify-items: center;
      gap:25px;

      .orange {
        color: orange;
      }
      .pink {
        color: palevioletred;
      }
      .blue {
        color: blue;
      }
    }
  }
}
footer {
  background-color: white;
  display: grid;
  padding: 20px;
  .footer-logo {
    display: flex;
    justify-content: center;
  }
  ul.menu-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    a {
      text-decoration: none;
      color: black;
      font: {
        size: small;
        family: $primary-font;
      }
    }
  }
  button.contact {
    background-color: $secondary-color;
    color: white;
    border-radius: 5px;
    border: none;
    height: 5vh;
    font-family: $primary-font;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      color: #1883ba;
      background: $primary-color;
    }
  }
}

@media screen and (min-width: 600px) {
  body {
    header {
      .header-logo {
        display: flex;
        .logo {
          display: flex;
        }
      }
    }
    main {
      .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
@media screen and (min-width: 1000px) {
  body {
    header {
      justify-content: space-between;
      .header-logo {
        margin-left: 1em;
        &:hover {
          filter: saturate(200%);
        }
        .logo {
          display: block;
        }
      }
      nav {
        height: 10%;
        i.fas.fa-bars {
          display: none;
        }
        ul.ul-menu {
          background-color:transparent;
          list-style: none; 
          right: auto;
          width: auto;
          transition: none;
          width:60%;
          display: flex;
          justify-content: space-between;
          top: auto;
          padding: 0;
          li {
            display:flex;
            justify-content: space-between;
            &:hover {

              color: white;
              background: #1d4b79;
              border-radius: 50%;
              box-shadow: 0 4px 16px rgb(26, 115, 150);
            }
          }
        }
      }
    }
    button {
      margin-right: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;

      border-radius: 5px;
      background-color: $secondary-color;
      border: none;
      color: white;
      height: 5vh;
      font-family: $primary-font;
      cursor: pointer;
      &:hover {
        color: #1883ba;
        background: #0a2540;
      }
    }
    main {
      margin-left: 7em;
      margin-right: 7em;
      .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }
    footer {
      grid-template-columns: 0.75fr 2fr 0.75fr;
      align-items: center;
      .footer-logo {
        display: inline-block;
        width: 15vw;
      }
      ul.menu-footer {
        grid-template-columns: repeat(3, 1fr);
        line-height: 25px;
        a {
          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }
}
